src/main/resources/.env
resources/application.properties
*.class
*.jar
*.war
*.ear
*.bin
*.lock
*.gradle
*.build
*.vscode
/bin
/build
/.idea
/.vscode
PrASeguRed\.vscode\settings.json
PrASeguRed/src/main/resources/application.properties
